body{
    margin: 0px;
    background-color: #151412;
}

#header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 600px;
    color: #E7D7C5;
    text-align: center;
    font-size: 30px;
    line-height: 600px;
    text-shadow: 0px 0px 10px #ccc;
}

#header-contact{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/contact-hero.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 600px;
    color: #E7D7C5;
    text-align: center;
    font-size: 30px;
    line-height: 600px;
    text-shadow: 0px 0px 10px #ccc;
}
#header-study{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/conference.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 600px;
    color: #E7D7C5;
    text-align: center;
    font-size: 30px;
    line-height: 600px;
    text-shadow: 0px 0px 10px #ccc;
}
#header-shop{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/shop.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 600px;
    color: #E7D7C5;
    text-align: center;
    font-size: 30px;
    line-height: 600px;
    text-shadow: 0px 0px 10px #ccc;
}
#header-events{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/events.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 600px;
    color: #E7D7C5;
    text-align: center;
    font-size: 30px;
    line-height: 600px;
    text-shadow: 0px 0px 10px #ccc;
}
h1{
    font-family: 'Oswald', sans-serif;
}

#navbar{
    width: 800px;
    box-shadow: 0px 5px 7px #E7D7C5;
    margin-left: auto;
    margin-right: auto;

}


#navbar a{
    text-decoration: #6B705C;
    background-color: #C5906D;
    display: block;
    width: 159px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid sienna;
    color: #2A2D25;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

#navbar a:hover{
    border-bottom: 4px solid #6B705C;
    font-weight: 400;
}

.main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 30px;

}
h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
}
#title{
    padding-top: 10px;
    text-align: center;
}
#first-paragraph{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
}

/* COLUMNS */
* {
    box-sizing: border-box;
  }
  
  /* COLUMN1  */
  .column {
    float: left;
    width: 32%;
    padding: 10px;
    height: 500px; 
  }
  .column-shop {
    float: left;
    width: 32%;
    padding: 10px;
    height: 390px; 
  }
  .column-shop img{
    width: 235px;
  }
  #column1{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  .column img{
    width: 235px;
  }
  #wifi{
      width: 15%;
  }

  /* COLUMN2  */
  .column2 {
    float: left;
    width: 32%;
    padding: 10px;
    margin-left: 10px;
    height: 500px;
  }
  .column2-shop {
    float: left;
    width: 32%;
    padding: 10px;
    margin-left: 10px;
    height: 390px;
  }
  .column2 img{
      width: 235px;
  }
  .column2-shop img{
    width: 235px;
}
  

  /* COLUMN3  */
  .column3 {
    float: left;
    width: 33%;
    padding: 10px;
    margin-left: 10px;
    height: 500px; 
    border: solid 2px white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/hours.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

#hours{
    color: #fff;
    font-size: 20px;
}
h3{
    color: #fff;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer{
      background-color: #666;
      height: 70px;
  }

  /* SOCIALS  */
  .socials{
      margin-left: auto;
      margin-right: auto;
      width: 200px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #666;
    color: white;
  }
  
  .fa-twitter {
    background: #666;
    color: white;
  }
  
  .fa-google {
    background:#666;
    color: white;
  }

  .row{
      margin-bottom: 40px;
  }

  /* CONTACT FORM  */
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: Sienna;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #C5906D;
  }
  
  .contact-us {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-title{
      text-align: center;
  }

  /* STUDY SPACES  */
  .study-room{
      margin-right: auto;
      margin-left: auto;
      width: 900px;
  }
  .column-study-spaces1 {
    float: left;
    width: 45%;
    padding: 10px;
    margin-right: 20px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  .column-study-spaces2 {
    float: right;
    width: 45%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #study-spaces-title{
      text-align: center;
  }
  .column-study-spaces1 img{
      width: 385px;
  }
  .column-study-spaces2 img{
    width: 385px;
}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }
  #events-title{
      text-align: center;
  }